<!-- AMBITION -->
  <section class="page-section" id="{{ site.data.sitetext.ambition.section | default: ambition }}">
    <div class="container">
        <div class="text-uppercase text-left">{{ site.data.sitetext.ambition.title | markdownify| default: "AMBITION" }}</div>
      	<div class="row text-center">
			<div class="col-md-9 align-items-center">
				<div class="text-muted text-justify">{{ site.data.sitetext.ambition.pitch | markdownify }}</div>	
			</div>
			<div class="col-md-3">
				<img class="img-fluid rounded" src="{{ site.data.sitetext.ambition.imageDuo }}" alt="">
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-9">
				<hr class="my-2">
				<div class="text-primary">{{ site.data.sitetext.ambition.citation | markdownify }}</div>	
				<hr class="my-2">
			</div>
		</div>
    </div>
  </section>
<!-- End Services -->
