<!-- CONTACT -->
<section class="page-section" id="{{ site.data.sitetext.contact.section | default: contact }}">
  <div class="container">
     <div class="row">
        <div class="col-lg-12 text-left">
          <div class="text-uppercase mb-4">{{ site.data.sitetext.contact.title | markdownify| default: "CONTACT" }}</div>
          <ul class="mb-1 list-inline">
            <li class="list-inline-item">
              <i class="fas fa-envelope"></i>    
            </li>
            <li class="list-inline-item text-primary">
              <a href="mailto:{{ site.data.sitetext.contact.mail }}">{{ site.data.sitetext.contact.mail }}</a>
            </li>  
          </ul>
          <ul class="mb-4 list-inline">
            <li class="list-inline-item">
              <i class="fas fa-phone"></i>    
            </li>
            <li class="list-inline-item text-primary">{{ site.data.sitetext.contact.tel }}</li>  
          </ul>
          <h3 class="section-subheading text-left mb-1">{{ site.data.sitetext.contact.subtitle2 }}</h3>          
          <ul class="list-inline social-buttons mb-5">
            <li class="list-inline-item text-center">
                <a href="https://linkedin.com">
                  <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li class="list-inline-item text-center">
              <a href="https://instagram.com">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>   
        </div>
     </div>
  </div>
</section>
<!-- End Services -->   