<!-- EXPERTISE -->
  <section class="page-section" id="{{ site.data.sitetext.expertise.section | default: expertise }}">
    <div class="container">
      <div class="text-uppercase text-left">{{ site.data.sitetext.expertise.title | markdownify| default: "Notre savoir faire" }}</div>
      <div class="text-primary text-left">{{ site.data.sitetext.expertise.listTitle | markdownify}}</div>
      <div class="row">
        <div class="col-md-6">
          <div class="text-muted text-left font-weight-bold">{{ site.data.sitetext.expertise.list1 | markdownify}}</div>
        </div>  
        <div class="col-md-6">
          <div class="text-muted text-left font-weight-bold">{{ site.data.sitetext.expertise.list2 | markdownify}}</div>
        </div>  
      </div>
    </div>
  </section>
<!-- End Services -->
