<!-- PROGRAMME -->
  <section class="page-section" id="{{ site.data.sitetext.programme.section | default: "programme" }}">
    <div class="container">
      <div class="text-uppercase text-left">{{ site.data.sitetext.programme.title | default: "PROGRAMME" }}</div>
      <h4 class="text-primary text-left">{{ site.data.sitetext.programme.etabTitle | markdownify| default: "" }}</h4>
      <div class="text-muted text-left">{{ site.data.sitetext.programme.etabText | markdownify }}</div>	
      <hr class="my-2">
      <div class="text-muted text-left">{{ site.data.sitetext.programme.etabText2 | markdownify }}</div>	
      <div class="text-primary text-left">{{ site.data.sitetext.programme.etabTarif | markdownify }}</div>	
      <hr class="my-2">
      <h4 class="text-primary text-left">{{ site.data.sitetext.programme.etudTitle | markdownify| default: "" }}</h4>
      <div class="row text-left">
        <div class="col-md">
          <div class="text-muted text-left">{{ site.data.sitetext.programme.etudText | markdownify }}</div>	
        </div>
        <div class="col-md">
          <div class="text-muted text-left">{{ site.data.sitetext.programme.pareText | markdownify }}</div>	
        </div>
      </div>
      <div class="text-muted text-left">{{ site.data.sitetext.programme.etudText2 | markdownify }}</div>	
      <hr class="my-2">
      <div class="text-muted text-left">{{ site.data.sitetext.programme.etudText3 | markdownify }}</div>	
      <div class="text-primary text-left">{{ site.data.sitetext.programme.etudTarif1 | markdownify }}</div>	
      <hr class="my-2">
      <div class="text-muted text-left">{{ site.data.sitetext.programme.etudText4 | markdownify }}</div>	
      <div class="text-primary text-left">{{ site.data.sitetext.programme.etudTarif2 | markdownify }}</div>	
      <hr class="my-2">
    </div>
  </section>
<!-- End Services -->
