---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#ae8734" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images


// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/ambition.scss";
@import "layout/expertise.scss";
@import "layout/programme.scss";
@import "layout/presentation.scss";
@import "layout/temoignages.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
