<!DOCTYPE html>
<html lang="fr">


  {% include head.html %}

  <body id="page-top">

    {{ content }}
	{% if page.title != "Privacy Policy" %}
	  	{% include footer.html %}
	{% endif %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="assets/js/jquery.easing.min.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="assets/js/passerelles.min.js"></script>

  </body>
</html>