// Styling for the ambition section
section#ambition {
    background-color: $gray-300;
    .section-heading {
      color: $black;
    }
    .img-max {
      max-width: 300px;
      width: 100%;
    }
  }