// Styling for the expertise section
section#expertise {
    background-color: $gray-400;
    .section-heading {
      color: $black;
    }
    h6 {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 30px;
      text-transform: none;
    }
  }