// Styling for the footer
.footer {
  background-color: black;
  span.copyright {
    font-size: 90%;
    text-transform: none;
    color:white;
    @include heading-font;
  }
  span.quicklinks {
    font-size: 90%;
    text-transform: none;
    @include heading-font;
  }
}