// Styling for the masthead
header.masthead {
  text-align: left;
  color: $gray-400;
//  background-image: url("#{$header-image}");
//  background-repeat: no-repeat;
//  background-attachment: scroll;
//  background-position: center center;
//  background-size: cover;
  background-color: #000;
  .intro-text {
    padding-top: 120px;
    padding-bottom: 10px;
    .intro-lead-in {
      color: #fff;      
      font-size: 20px;
      font-style: italic;
      line-height: 20px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 200px;
      @include heading-font;
    }
  }
}
@media(min-width:992px) {
  header.masthead {
    .intro-text {
      padding-top: 130px;
      padding-bottom: 10px;
      .intro-lead-in {
        color: #fff;
        font-size: 25px;
        font-style: italic;
        line-height: 60px;
        margin-top: 40px;        
        margin-bottom: 20px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: 20px;
        @include heading-font;
      }
    }
  }
}
