// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.4;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}


.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  font-size: 14px;
  padding: 30px 0;
  h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include serif-font;
  }
  h3 {
    color: black;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-transform: none;
    @include serif-font;
  }
  h4 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 70px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
